/*Account page*/

.accountWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

#accountPageSignedIn {
  display: none;
}

.accountTabLink {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.accountTabLink:hover {
  color: #f50;
}

.accountTabLink:active {
  color: #e64d00;
}

#accountForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 140px;
  width: 50%;
  min-width: 500px;
  border-top: 40px solid #333;
  box-shadow: 3px 3px 10px #ccc;
}

.accountForm {
  display: flex;
  flex-direction: column;
}

.accountFormInactive {
  display: none;
}

.formTitle {
  font-size: 16pt;
  text-align: center;
  margin-bottom: 20px;
}

.accountTextInput {
  background-color: #eee;
  padding: 10px 10px;
  border: none;
  font-size: 10pt;
  transition: border-left 0.1s;
  border-left: 0px solid #f50;
}

.accountTextInput:focus {
  outline: none;
  border-left: 10px solid #f50;
}

#signInWarning {
  color: #b20000;
  font-style: italic;
  font-family: Georgia;
  font-size: 12pt;
  display: none;
}

.accountSubmitButton {
  border: none;
  background-color: #f50;
  color: white;
  font-size: 15pt;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 20%;
  width: 60%;
}

.accountSubmitButton:hover {
  background-color: #e64d00;
}

.accountSubmitButton:focus {
  outline: none;
}

.accountSubmitButton:active {
  background-color: #cc4400;
}

.accountTitle {
  font-size: 24pt;
  width: 100%;
  text-align: center;
}

#historyNoResult {
  color: #333;
  font-size: 16pt;
  font-family: Georgia;
  display: none;
}

.accountInfoWrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-top: 80px;
}

.accountBox {
  width: 28%;
  background-color: white;
  border-top: 40px solid #333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  box-shadow: 3px 3px 10px #ccc;
}

.accountBoxTitle {
  font-size: 16pt;
  margin-bottom: 20px;
}

.accountBox input {
  width: 100%;
}

.accountBoxButton {
  border: none;
  background-color: #f50;
  color: white;
  padding: 10px 20px;
  font-size: 12pt;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 10px;
}

.accountBoxButton:hover {
  background-color: #e64d00;
}

.accountBoxButton:focus {
  outline: none;
}

.accountBoxButton:active {
  background-color: #cc4400;
}
