main {
    margin-top: 80px;
}

#contentWrapper {
	margin: 0;
}

.boatContainer {
    display: flex;
    height: 400px;
}

.boatContainer img {
    width: 650px;
}

.boatContainer p {
    align-items: center;
    display:flex;
    flex: 1;
}