/*Filter Page*/

#contentWrapper {
	display: flex;
	align-items: flex-start;
	margin: 130px 80px;
}

/*Filter section*/
#filterArea {
	background-color: white;
	border-top: 20px solid #333;
	padding: 20px;
	min-width: 280px;
	float: left;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 10px #ccc;
}

#filterArea hr {
	border-style: inset;
	border-width: 1px;
	border-color: #eee;
	width: 100%;
	margin: 20px 0px;
}

.dateInput {
	background-color: #eee;
	padding: 10px 10px;
	height: 40px;
	border: none;
	font-size: 10pt;
	transition: border-left 0.1s;
	border-left: 0px solid #f50;
}

.dateInput:focus {
	outline: none;
	border-left: 10px solid #f50;
}

#filterButton {
	border: none;
	background-color: rgb(0, 204, 255);
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 40px;
	width: 80%;
}

#filterButton:hover {
	background-color: #005ce6;
}

#filterButton:focus {
	outline: none;
}

#filterButton:active {
	background-color: #00cca0;
}

/*Result section*/
#noResult {
	color: #333;
	font-size: 16pt;
	font-family: Georgia;
	margin-left: 10%;
	width: 70%;
	display: none;
}

#resultArea {
	margin-left: 10%;
	width: 100%;
	min-width: 800px;
	height: 90%;
	min-height: 800px;
	float: left;
	display: flex;
	flex-direction: row;
	box-shadow: 3px 3px 10px #ccc;
}

#mapArea {
	margin-left: 0%;
	width: 100%;
	min-width: 800px;
	height: 90%;
	min-height: 800px;
	float: left;
	display: flex;
	flex-direction: row;
}