/*Search Page*/

/*Search*/
#searchArea {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 1000px;
  margin-left: 10%;
}

/* #searchInput {
  padding: 10px 10px;
  width: 700px;
  height: 50px;
  font-size: 14pt;
  border: none;
  border-left: 0px solid #333;
  transition: border-left 0.1s;
  box-shadow: 3px 3px 10px #ccc;
} */

#searchInput:focus {
  outline: none;
  border-left: 20px solid #333;
}

/* #searchButton {
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 16px;
  background: #ccc;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0% 25% 25% 0%;
  box-shadow: 3px 3px 10px #ccc;
} */

/* #searchButton:focus {
  outline: none;
} */

/* #searchButton:hover {
  background-color: #bbb;
}

#searchButton:active {
  background-color: #aaa;
} */

.searchDropdown {
  padding: 10px 10px;
  height: 50px;
  border: none;
  font-size: 12pt;
  border-left: 0px solid #333;
  transition: border-left 0.1s;
  box-shadow: 3px 3px 10px #ccc;
}

.searchDropdown:focus {
  outline: none;
  border-left: 10px solid #333;
}

#sortInput {
  width: 140px;
}

#subjectInput {
  width: 200px;
}

#searchArea label {
  font-size: 12pt;
  line-height: 30px;
  margin: 10px;
}

#contentWrapper {
  display: flex;
  align-items: flex-start;
  margin: 140px 80px;
}

/*Filter section*/
#filterArea {
  background-color: white;
  border-top: 20px solid #333;
  padding: 20px;
  min-width: 280px;
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px #ccc;
}

#filterArea hr {
  border-style: inset;
  border-width: 1px;
  border-color: #eee;
  width: 100%;
  margin: 20px 0px;
}

.dateInput {
  background-color: #eee;
  padding: 10px 10px;
  height: 40px;
  border: none;
  font-size: 10pt;
  transition: border-left 0.1s;
  border-left: 0px solid #f50;
}

.dateInput:focus {
  outline: none;
  border-left: 10px solid #f50;
}

#ratingInput {
  opacity: 0.7;
  -webkit-transition: 0.1s;
  transition: opacity 0.1s;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #333;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f50;
}

#availableInput {
  cursor: pointer;
}

#availableInput:focus {
  outline: none;
}

.pageInput {
  background-color: #eee;
  padding: 10px 10px;
  border: none;
  font-size: 10pt;
  transition: border-left 0.1s;
  border-left: 0px solid #f50;
}

.pageInput:focus {
  outline: none;
  border-left: 10px solid #f50;
}

#filterButton {
  border: none;
  background-color: rgb(0, 204, 255);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 40px;
  width: 80%;
}

#filterButton:hover {
  background-color: #005ce6;
}

#filterButton:focus {
  outline: none;
}

#filterButton:active {
  background-color: #00cca0;
}

/*Result section*/
#noResult {
  color: #333;
  font-size: 16pt;
  font-family: Georgia;
  margin-left: 10%;
  width: 70%;
  display: none;
}

#resultArea {
  margin-left: 10%;
  width: 100%;
  min-width: 800px;
  height: 90%;
  min-height: 800px;
  float: left;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 10px #ccc;
}

#mapArea {
  margin-left: 0%;
  width: 100%;
  min-width: 800px;
  height: 90%;
  min-height: 800px;
  float: left;
  display: flex;
  flex-direction: row;
}

/* .bookResult {
  height: 100px;
  padding: 10px 40px;
  float: left;
  background-color: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 0px solid #f50;
  transition: border-left 0.1s;
  cursor: pointer;
}

.bookResult:hover {
  border-left: 20px solid #f50;
  border-bottom: 0px solid #ddd;
  background-color: #eee;
}

.bookResult:hover .bookTitle {
  color: black;
}

.bookResult:active {
  background-color: #e9e9e9;
}

.bookTitle {
  color: #333;
  font-size: 17pt;
}

.bookInformationContainer {
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
  color: #333;
  line-height: 36px;
}

.bookInformationContainer span {
  color: #f50;
}

/* Book modal */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#bookModalContent {
  border-top: 40px solid #333;
  background-color: white;
  width: 900px;
  padding: 40px 80px;
}

#bookCloseButton {
  height: 40px;
  width: 40px;
  color: white;
  float: right;
  margin-top: -80px;
  margin-right: -80px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#bookCloseButton:focus {
  outline: none;
}

#bookCloseButton:hover {
  background-color: #222;
}

#bookCloseButton:active {
  background-color: #111;
}

#bookModalTitle {
  font-size: 24pt;
}

#bookModalLanguageCode {
  font-size: 12pt;
  font-family: Georgia;
  color: #777;
}

#bookModalISBN13 {
  color: #777;
  font-family: Georgia;
  font-size: 12pt;
  margin-bottom: 20px;
}

.bookModalText {
  font-size: 16pt;
  font-family: Georgia;
}

#bookModalSplit {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#bookModalRatingCount {
  font-size: 12pt;
  font-family: Georgia;
  color: #777;
}

#bookModalRating {
  color: #f50;
}

#bookModalEnd {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#bookModalStock {
  font-size: 12pt;
  font-family: Georgia;
  color: #777;
}

.bookModalCartButton {
  border: none;
  background-color: #f50;
  font-size: 16pt;
  color: white;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.bookModalCartButton:hover {
  background-color: #e64d00;
}

.bookModalCartButton:focus {
  outline: none;
}

.bookModalCartButton:active {
  background-color: #cc4400;
}

.bookModalCartButtonInactive {
  border: none;
  background-color: #eee;
  font-size: 16pt;
  color: black;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.bookModalCartButtonInactive:focus {
  outline: none;
}
 */