/*General*/
* {
  box-sizing: border-box;
  font-family: Tahoma;
  color: #333;
}

body {
  background-color: #ddd;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Navigation*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 750px;
  height: 80px;
  padding-right: 5%;
  background-color: #333;
  overflow: hidden;
}

.navElement {
  height: 100%;
  float: right;
  padding: 0px 50px;
  border-bottom: 0px solid rgb(0, 217, 255);
  transition: background-color 0.1s, border-bottom 0.1s, text-shadow 0.1s;

  color: white;
  line-height: 80px;
  font-size: 14pt;
  font-weight: 100;
  text-align: center;
}

.navElement:hover {
  background-color: #222;
  border-bottom: 4px solid #f50;
  cursor: pointer;

  color: #f50;
  text-shadow: 0 0 50px #ccc;
}

.navTitle {
  height: 100%;
  float: left;
  padding: 0px 60px;

  color: rgb(0, 238, 255);
  line-height: 80px;
  font-size: 24pt;
  font-style: italic;
  text-align: center;
}

.navActive {
  border-bottom: 4px solid rgb(0, 225, 255);
}

/*Main Content Container*/
main {
  width: 100%;
  margin-top: 160px;
}

section {
  display: none;
}

.sectionActive {
  display: block;
}

label {
  font-size: 12pt;
  margin: 6px;
}
