/*General*/
* {
	box-sizing: border-box;
	font-family: Tahoma;
	color: #333;
}

body {
	background-color: #ddd;
}

#container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Navigation*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.nav-links {
	display: flex;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 750px;
	height: 80px;
	padding-left: 30px;
	padding-right: 5%;
	background-color: #212529;
	overflow: hidden;
}

.logo {
	display: inline-block;
	color: white;

	font-size: 24px;
	font-style: italic;
	text-decoration: none;
}

.logo img {
	height: 85px;
	width: 85px;
	vertical-align: middle;
}

.nav-links {
	list-style: none;
}

.navElement a {
	display: inline-block;
	text-decoration: none;
	color: white;

	position: relative;
	top: 0;
	transition: top ease 0.5s;
}

.navElement {
	height: 100%;
	padding: 0px 50px;
	transition: background-color 0.1s, border-bottom 0.1s, text-shadow 0.1s;

	line-height: 80px;
	font-size: 15pt;
	font-weight: 400;
}

.navElement:hover {
	background-color: #222;
	border-bottom: 8px solid #80ffff;
	cursor: pointer;

	color: #80ffff;
	text-shadow: 0 0 50px #ccc;
}

.navElement:hover a {
	color: #80ffff;
	top: -5px;
}

.navActive {
	border-bottom: 8px solid rgb(0, 225, 255);
}

/*Main Content Container*/
main {
	width: 100%;
}

.sectionActive {
	display: block;
}

label {
	font-size: 12pt;
	margin: 6px;
}
